#event-container{
    margin-bottom: 30px;
}

#header-alert{
    font-weight: bold;
    text-align: center;
    margin: 15px;
}

.card{
    margin-top: 30px;
    border: 5px solid #a1a1a1;
}

.card-header{
    font-weight: bold;
}

.btn{
    font-weight: bold;
    min-width: 200px;
    margin-top: 10px;
}